/* 公共样式 */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* 自定义 input、button 样式 */

button,
input {
    outline: none;
    border: none;
}

.gen-btn {
    margin-left: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    background: #4f8bee;
    cursor: pointer;
    color: #fff;
}

.match-input {
    padding: 7px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    width: 200px;
    font-family: PingFangSC-Regular, serif;
}

.match-input:focus {
    border-color: #409eff;
}

.match-input::-webkit-input-placeholder {
    opacity: 1;
    font-weight: normal;
    color: #dcdfe6;
}

/* 具体内容样式 */

.tab-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    width: 600px;
    height: 500px;
}

/* 切换栏设置 */
nav {
    position: relative;
    display: flex;
    height: 40px;
    background-color: #fbfafa;
    line-height: 40px;
    text-align: center;
}

nav label {
    flex: 1;
    cursor: pointer;
    transition: all 600ms;
}

.active-bar {
    position: absolute;
    bottom: 0;
    left: calc(100% / 6);
    border-radius: 10px;
    width: 56px;
    height: 5px;
    background: transparent;
    transform: translateX(-50%);
}

/* 切换栏的 active bar 移动距离设置 */
/* TODO：这里的移动计算 left 换成 transform 来计算 */
.tab-container input:nth-child(1):checked ~ nav .active-bar {
    left: calc(100% / 6);
    background: #4f8bee;
}

.tab-container input:nth-child(2):checked ~ nav .active-bar {
    left: calc(100% / 2);
    background: #4f8bee;
}

.tab-container input:nth-child(3):checked ~ nav .active-bar {
    left: calc(100% / 6 * 5);
    background: #4f8bee;
}

/* 切换栏对应内容设置 */
main {
    flex: 1;
}

main section {
    display: flex;
    flex-wrap: nowrap;
    width: 300%;
    height: 100%;
    transition: all 600ms;
}

/* 对应内容的移动距离设置 */
.tab-container input:nth-child(1):checked ~ main section {
    transform: translate3d(0, 0, 0);
}

.tab-container input:nth-child(2):checked ~ main section {
    transform: translate3d(-33.33%, 0, 0);
}

.tab-container input:nth-child(3):checked ~ main section {
    transform: translate3d(-66.67%, 0, 0);
}

section > div {
    flex: 1;
    padding-top: 70px;
    padding-left: 40px;
    background: #eee;
}

section > div > .gen-result {
    padding-top: 30px;
}

section > div:nth-child(1) > button {
    margin-left: 0;
}

.kmp-wild-container {
    padding-top: 40px;
}

.kmp-wild-container > div:nth-child(1) {
    display: inline-block;
}

.kmp-wild-container > div:nth-child(3) {
    margin-top: 20px;
}

.input-desc {
    display: inline-block;
    width: 70px;
}

.loading {
    position: relative;
    background: rgba(133, 199, 251, .8);
}

.loading::before {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    content: "";
    border: 3px solid #fff;
    border-bottom: 3px solid transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    animation: loading-rotate linear 1s infinite;
}

@keyframes loading-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}